<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Details</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h2><u><%=task.task%></u></h2>
        <h5>Task ID - <%=task.id%></h5>
        <div>
            <p>Time Limit: <%=task.timeLimit%></p>
            <p>Priority: <%=task.priority%></p>
            <p>Category: <%=task.category%></p>
        </div>
        <a class="back-button" href="http://localhost:3000/tasks">Back</a>
    </div>
    <div class="loader" id="loader" style="display:none;"></div>
    <script>
        window.addEventListener('load', function() {
            document.getElementById('loader').style.display = 'none';
        });

        window.addEventListener('beforeunload', function() {
            document.getElementById('loader').style.display = 'block';
        });
    </script>
</body>
</html>
